    #Encabezado{
        color: black;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .parrafo    {
        color: #757575;
        font-size: 18px;
        font-family: georgia;

    }